<div class="row">
    <div class="col-lg-12">
        <h3>Database</h3>
        <hr>
        <form id="dbinfo-form" role="form" style="display: block;">                        
            <div class="form-group">
                <label for="file_path">type:</label>
                <input type="input" class="form-control" id="file_header_line">
            </div>
            <div class="form-group">
                <label for="file_name">username:</label>
                <input type="input" class="form-control" id="file_header_line">
            </div>
            <div class="form-group">
                <label for="file_storage">password:</label>
                <input type="input" class="form-control" id="file_header_line">
            </div>
            <div class="form-group">
                <label for="file_type">ip address:</label>
                <input type="input" class="form-control" id="file_type">
            </div>
            <div class="form-group">
                <label for="file_header_line">port:</label>
                <input type="input" class="form-control" id="file_header_line">
            </div>
            <div class="form-group">
                <label for="file_separator">SID:</label>
                <input type="input" class="form-control" id="file_separator">
            </div>
            <div class="form-group">
                <label for="file_separator">db:</label>
                <input type="input" class="form-control" id="file_separator">
            </div>        
        </form>                            
    </div>
</div>