<div class="row">
    <div class="col-lg-12">
        <h3>Database</h3>
        <hr>
        <form id="db-info-form" role="form" style="display: block;">
            <div class="form-group">
                <label for="db_connection">type:</label>
                <select class="form-control" id="db_connection" name="db_connection">
                    <option value="new-pg" selected>New PostgreSQL</option>
                    <option value="new-or">New Oracle</option>
                </select>
            </div>                        
            <input minlength="1" type="hidden" id="db_type" name="db_type" value="PostgreSQL" required>
            <div class="form-group">
                <label for="db_username">username:</label>
                <input minlength="1" type="text" class="form-control" id="db_username" name="db_username" required>
            </div>
            <div class="form-group">
                <label for="db_password">password:</label>
                <input minlength="1" type="password" class="form-control" id="db_password" name="db_password" required>
            </div>
            <div class="form-group">
                <label for="db_host">ip address:</label>
                <input minlength="1" type="text" class="form-control" id="db_host" name="db_host" required>
            </div>
            <div class="form-group">
                <label for="db_port">port:</label>
                <input minlength="1" type="text" class="form-control" id="db_port" name="db_port" required>
            </div>
            <div class="form-group">
                <label for="db_sid">SID:</label>
                <input minlength="1" type="text" class="form-control" id="db_sid" name="db_sid" readonly placeholder="not applicable" required>
            </div>
            <div class="form-group">
                <label for="db_name">db:</label>
                <input minlength="1" type="text" class="form-control" id="db_name" name="db_name" required>
            </div>        
        </form>                            
    </div>
</div>