<div class="row">
    <div class="col-lg-12">
        <h3>File</h3>
        <hr>
        <form id="file-info-form" role="form" style="display: block;">                        
            <div class="form-group">
                <label for="file_path">path:</label>
                <p class="form-control-static" id="file_path"></p>
            </div>
            <div class="form-group">
                <label for="file_name">name:</label>
                <p class="form-control-static" id="file_name"></p>
            </div>
            <div class="form-group">
                <label for="file_storage">storage:</label>
                <p class="form-control-static" id="file_storage"></p>
            </div>
            <div class="form-group">
                <label for="file_type">file type:</label>
                <input type="input" class="form-control" id="file_type" disabled>
            </div>
            <div class="form-group">
                <label for="file_header_line">header line:</label>
                <i class="fa fa-info-circle" data-toggle="popover" title="Header line" data-content="Help text"></i>
                <input type="input" class="form-control" id="file_header_line" disabled>
            </div>
            <div class="form-group">
                <label for="file_separator">separator:</label>
                <i class="fa fa-info-circle" data-toggle="popover" title="Separator" data-content="Help text"></i>
                <input type="input" size="11" class="form-control " id="file_separator" disabled>
            </div>
                    
        </form>                            
    </div>
</div>