{% extends 'base.html' %}

{% block head %}
<script src="/static/js/progressbar.js"></script>
<script src="/static/js/dragndrop.js"></script>
<script src="/static/js/popover.js"></script>
<script src="/static/js/upload.js"></script>
<script src="/static/js/jquery.formautofill.min.js"></script>

<script src="/static/js/utils.js"></script>
{% endblock %}

{% block content %}
<div class="col-md-12">
        <div class="panel-group">
            <div class="panel panel-login">
                <div class="panel-body">
                    {% include "forms/file-upload.html" %}
                </div>
            </div>
            <div class="panel panel-login">
                <div class="panel-body">
                    {% include "forms/file-info.html" %}
                </div>
            </div>
            <div class="panel panel-login">
                <div class="panel-body">
                    {% include "forms/table-info.html" %}
                </div>
            </div>
            <div class="panel panel-login">
                <div class="panel-body">
                    {% include "forms/db-info.html" %}
                </div>
            </div>
            <div class="panel panel-login">
                <div class="panel-body">
                    {% include "forms/file-start.html" %}
                </div>
            </div>
        </div>
    
    </div>
</div>


{% include "forms/modal-select-strategy.html" %}
{% endblock %}